<header class="header-partial teal lighten-2">
    <div class="header-partial-logo">
        <a href="#" data-target="slide-out" class="sidenav-trigger waves-effect waves-teal btn-flat home-btn-menu"><i class="material-icons">menu</i></a>
        <%= image_tag("brain-tech-logo-no-bg.png", size: "40x40", alt: "Edit Entry") %>
        <p>Bra in-tech</p>
    </div>
</header>